<%- include("partials/header.ejs") %>

<ul id="inside">
  <% if (locals.data && data.length > 0) { %>
  <li id="card-marte">
    <% data.forEach(element => { %>
    <a id="conteudo" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
      <img id="img-marte"  class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="<%= element.img_src %>" alt="">
      <div class="flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Foto N° <%= element.id %></h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Imagem capturada pelo rover na data de <%= element.earth_date%> .</p>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= element.rover.name %>, que está ativo desde seu pouso em <%= element.rover.landing_date %>,continua a explorar o planeta vermelho.</p>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"></pclass>Rover status: <%= element.rover.status %></p>
      </div>
    </a>
    <% }); %>
<% } else { %>
  </li>
  <%}%>
</ul>




<%- include("partials/footer.ejs") %>
